$color-primary : #9356DC;
$color-secondary :#FF79DA ;
$color-tiertiary : #99E2D0;
$color-white : #fff;
$color-black: #000;
$color-new :#008766;

$bg-primary : #fff;
$bg-secondary: #f6f6f6;
$bg-tiertiary: #353535;