footer {
    background-color: $bg-tiertiary;
    padding: 25px;
    font-size: 16px;
    @media #{$large-up} {
        padding: 50px;
        text-align: center;
    }
    a {
        color: $color-white;
        transition: all 0.3s ease;
        &:hover {
            padding-left: 10px;
        } 
    }
    & .icon {
        width: 25px;
    }
}
    