footer {
    background-color: $bg-tiertiary;
    padding: 25px;
    a {
        color: $color-white;
        @include transition (all 0.3s ease);
        &:hover {
            padding-left: 10px;
        }
        i {
            padding-right: 10px;
        }
    }
}
    