.loader {
    @include flexPosition();
    position: fixed;
    z-index: 1000;
    inset:0;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    animation: disappear 4s ease-in-out both;
}
.loader-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loader-ellipsis div {
    background: $color-tiertiary;
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader-ellipsis div:nth-child(1) {
    left: 8px;
    animation: loader-ellipsis1 0.3s infinite;
  }
  .loader-ellipsis div:nth-child(2) {
    left: 8px;
    animation: loader-ellipsis2 0.6s infinite;
  }
  .loader-ellipsis div:nth-child(3) {
    left: 32px;
    animation: loader-ellipsis2 0.6s infinite;
  }
  .loader-ellipsis div:nth-child(4) {
    left: 56px;
    animation: loader-ellipsis3 0.6s infinite;
  }

  