html,body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $color-black;
    text-align: left;
    background-color: $bg-primary;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    @include container;
}

ul {
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
}
.fonctionnement {
    @include container(flex, center, flex-start);
    flex-direction: column;
    padding: 50px 0;
    margin: auto 20px;
}
#restaurants {
    gap: 20px;
    background-color: $bg-secondary;
    padding: 50px 0;
    &.container {
        flex-direction: column;
    }
}

form {
    & input {
        width: 100%;
        padding: 10px 0;
        background-color: #f6f6f6;
        color: $color-black;
        border: none;
        text-align: center;
    }
}