@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.shrikhand {
    font-family: 'Shrikhand', cursive;
}
.roboto {
    font-family: 'Roboto', Arial, sans-serif;
    &--thin {
        font-weight: 100;
    }
    &--regular {
        font-weight: 400;
    }
}